/* styles.css */
#map {
  height: 250px; /* Height in pixels */
  width: 400px;  /* Width in pixels */
}

.leaflet-container {
  background-color: #2c2c2c; /* Dark background color */
}

/* Apply Arimo Bold font to popups */
.leaflet-popup-content-wrapper {
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
}

